.filter-block {
  width: 100%;
  display: table;
  margin: 40px 0 20px;
  position: relative;
  padding-right: 82px;
  border: 1px solid $main-color;
  border-radius: 5px;
  overflow: hidden;
  input {
    display: table-cell;
    outline: none;
    border: none;
    width: 80%;
    padding: 10px 10px 10px 25px;
    font-size: 20px;
    margin: 10px 0;
  }
  select {
    width: 20%;
    display: table-cell;
    border-left: 1px solid #e0e0e0;
    border-top: none;
    border-bottom: none;
    border-right: none;
    outline: none;
    padding: 10px 10px 10px 15px;
    font-size: 20px;
    margin: 10px 0;
  }
  .search-btn {
    position: absolute;
    right: 0;
    top: 0;
    background: $main-color;
    padding: 18px 20px 0;
    height: 100%;
    border: 1px solid $main-color;
    svg {
      width: 30px;
      height: 30px;
      fill: #fff;
      transition: 0.3s ease all;
    }
    &:hover {
      background: #fff;
      svg {
        fill: $main-color;
      }
    }
  }
}